<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Register Form</title>

    </h:head>
    <h:body>
        <h:form >


            <h:panelGrid columns="2" cellpadding="5">
                <h:outputText value="First Name*:"/>
                <h:inputText id="fname" value="#{student.fname}" required="true" requiredMessage="please enter your first name"/>

                <h:outputText value="Middle Name:"/>
                <h:inputText id="mname" value="#{student.mname}" required="false" requiredMessage="please enter your middle name if you have any"/>

                <h:outputText value="Last Name*:"/>
                <h:inputText id="lname" value="#{student.lname}" required="true" requiredMessage="please enter your last name"/>

                <h:outputText value="Faculty*:"/>
                <h:selectOneMenu id="faculty" value="#{student.faculty}"  style="width: 150px" required="true" requiredMessage="please select your faculty"  >

                    <f:selectItem itemLabel="Select Faculty" itemValue=""  noSelectionOption="true"/>
                    <f:selectItems value="#{student.faculties}" />

                    <f:ajax  execute="faculty" listener="#{student.onFacultyChange}" render="program" event="valueChange" />
                </h:selectOneMenu>


                <h:outputText value="Program*:" />
                <h:selectOneMenu id="program" value="#{student.program}"  style="width: 150px" required="true" requiredMessage="please select your program">
                    <f:selectItem itemLabel="Select Program" itemValue="" noSelectionOption="true"/>
                    <f:selectItems value="#{student.programs}" />

                </h:selectOneMenu>           

                <h:commandButton  value="Save" action="#{student.saveInfo()}"/>



            </h:panelGrid>
             </h:form>

            <h:dataTable value="#{student.studentList}" var="a"  border="1" cellpadding="2" cellspacing="2" >

                <h:column >
                    <f:facet name="header">First Name</f:facet>
                    <h:outputText value="#{a.fname}"/>

                </h:column>

                <h:column>
                    <f:facet name="header">Middle Name</f:facet>
                    <h:outputText value="#{a.mname}"/>
                </h:column>

                <h:column>
                    <f:facet name="header">Last Name</f:facet>
                    <h:outputText value=" #{a.lname}"/>
                </h:column>

                <h:column>
                    <f:facet name="header">Faculty</f:facet>
                    <h:outputText value=" #{a.faculty}"/>
                </h:column>

                <h:column>
                    <f:facet name="header">Program</f:facet>
                    <h:outputText value="#{a.program}"/>
                </h:column>

                <h:column>
                    <f:facet name="header">Action</f:facet>
                    <h:form>
                    <h:commandLink value="Edit"   action="#{student.edit(a)}" immediate="true"/><br/>
                    <h:commandLink value="Delete"   action="#{student.delete(a)}" immediate="true"/>
                    </h:form>
                </h:column>


            </h:dataTable>
       

        
        
    </h:body>

</html>

